.Note {
  margin: 10px 30px;
  list-style-type: none;
  border: none;
  padding: 10px 30px 10px 10px;
  word-break: break-all;
  background: #0D0F10;
  position: relative;
}

.Note button {
  border: 2px solid #FF7764;
  color: #FF7764;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #0D0F10;
  float: right;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 3px;
  top: 3px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}